.card{
    width: 18rem;
    display: -webkit-inline-box;
    
    
}
.encabezadoprincipal{
    background-color: chocolate;
}

.logoo{
    width: 20px;
}
.card-body{
    background-color:  #D5953D;
    margin-left: 40px; 
}
.card-img-top{
   margin-left: 40px; 
}
.piedepagina{
    background-color: #434A2B;
    color: beige;
    margin-top: 300px;
}
.logo{
	display: inline-block;
	width: 60px;
}